default.duckdb
DATA*
awsCreds
ingestion-sources/**/*.duckdb
ingestion-sources/**/env/
ingestion-sources/**/Library/
ingestion-sources/**/.dlt/secrets.toml
ingestion-sources/**/.dlt/pipelines

dbt-projects/**/target/
dbt-projects/**/dbt_packages/
dbt-projects/**/dbt_modules/
dbt-projects/**/logs/
dbt-projects/**/.DS_Store
dbt-projects/**/.user.yml
dbt-projects/**/venv/
dbt-projects/**/env/
dbt-projects/**/*.duckdb
dbt-projects/**/*.duckdb.wal